/********************************************

  Styles to be added to energy.gov in order 
  to allow it to look however you want it.
  Reminder: make it responsive

********************************************/


/*+++++++++++++++++++++++++++
Map
++++++++++++++++++++++++++++++++++++++*/
 #master_container {
  font-family: 'Avenir LT W02 35 Light',verdana,sans-serif;
    text-transform: none !important;
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('/sites/prod/files/BG_sky.png');
    background-position: top left;
    background-repeat: repeat-x;
    overflow: hidden;
 }
 #outer_container { 
  position:absolute; 
  top:0; 
  height: 100%; 
  width:100%; 
  /*border: 4px solid #333;*/
 }

  #image1_container {
    z-index: 0;
    position: absolute;
    height: 100%; /*130%*/
    width: 646px; /*588px*/
    left: 80px;
  }

/*Covers the iamge to make it seem like background image*/
  #cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 101;
    top: 0px;
  }

  #image1_container img {
    height: 100%;
    display: none;
    opacity: 0;
  }
  #rotor_image img, #blades_image img, #gears_image img, #anem_image img {
    width: 100%;
    display: block !important;
    opacity: 1 !important;
  }

/*Images of hung together*/
  #rotor_image {
    position: absolute;
    left: 26.7%;
    top: 46.5%;
    width: 39.5%;
    height: 30.2%;
  }

  #blades_image {
    position: absolute;
    left: -7%;
    top: 7%;
    width: 82%;
    height: 88%;
  }

  #gears_image {
    position: absolute;
    left: 32%;
    top: 48.9%;
    width: 43.0%;
    height: 51.2%;    
  }

  #anem_image {
    position: absolute;
    left: 63.8%;
    top: 59%;
    width: 9%;
    height: 9.9%;
  }

  /*Tooltips*/

  .parts {        
    position: absolute;   
    /*border: 3px solid #333;*/
  }
  .parts:hover {
/*    background-color: pink;
    border: 3px solid #333;
    opacity: 0.5;*/
  }
  #anemometer {
    left: 64.5%;
    top: 59.5%;
    width: 7.5%;
    height: 8%;
    z-index: 202;
  }
  #wind-vane {
    left: 70.5%;
    top: 67.5%;
    width: 4%;
    height: 5%;
    z-index: 203; 
  }
  #controller {
    left: 58.5%;
    top: 64.5%;
    width: 5%;
    height: 5.7%;
    z-index: 204;     
  }
  #high-speed-shaft {
    left: 56.3%;
    top: 69.5%;
    width: 3%;
    height: 3.4%;
    z-index: 205;     
  }
  #nacelle {
    left: 53%;
    top: 62%;
    width: 13%;
    height: 16%;
    z-index: 190; 
  }
  #generator {
    left: 49.3%;
    top: 65%;
    width: 8.8%;
    height: 9%;
    z-index: 195; 
  }
  
  #gear-box {
    left: 42.5%;
    top: 56%;
    width: 8.5%;
    height: 15%;
    z-index: 194; 
    
  }
  #low-speed-shaft {
    left: 38%;
    top: 54%;
    width: 7%;
    height: 7%;
    z-index: 193; 
  }
  #rotor {
    left: 26%;
    top: 46%;
    width: 8%;
    height: 12%;
    z-index: 191; 
  } 
  #pitch-system {
    left: 33.2%;
    top: 51.5%;
    width: 4%;
    height: 4%;
    z-index: 192;     
  } 
  #brake {
    left: 35.5%;
    top: 59.8%;
    width: 4%;
    height: 4%;
    z-index: 192; 
  }   
  #blade {
    left: 10%;
    top: 20%;
    width: 35%;
    height: 30%;
    z-index: 188; 
  }
  #tower {
    left: 37%;
    top: 75%;
    width: 13%;
    height: 25%;
    z-index: 189;
  }
  #yaw-drive {
    left: 39%;
    top: 68.8%;
    width: 10%;
    height: 5.5%;
    z-index: 195; 
  }
  #yaw-motor {
    left: 40%;
    top: 75%;
    width: 8%;
    height: 6.7%;
    z-index: 192; 
  }
/*Tooltips*/
  .triangle {
    position: absolute;
    top: 0px;
    width: 0; 
    height: 0; 
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid #2E2E2D;
  }
  .tooltip-container {
    position: absolute;
    left: 100%;
    top: 35%;
    margin-top: -10px;
    min-width: 200px;
    display: none;
  }
  .tooltip {
    position: absolute;
    color: #fff;    
    background-color: #2E2E2D;
    border: 3px solid #2E2E2D;
    left: 13px;
    padding-left: 2px;
    padding-right: 5px;
  }

  .tooltip-container.turnon {
    display: block;
  }

@media (min-width: 530px) {
    #master_container { 
      width: 100%;
    }
}

@media (min-width: 900px) {
    #master_container { 
      width: 100%;
    }
}

@media (min-width: 1030px) {
    #master_container { 
      width: 100%;
    }
}
/*

#sidebar-right{display:none !important;}
#main-content{width:100% !important;}
*/
/********************
  Typography
*********************/


#master_container h1, #master_container h2, #master_container h3, #master_container h4, #master_container p {
  border: none;
  color: white;
}

#master_container h4 {padding-top: 18px;}

#master_container p {margin-top: 0px; padding-bottom: 0px; padding-left: 10px; padding-right: 10px; margin-bottom: 5px;}

#r-n-header-content h1 {
  font-size: 38px ;
  line-height: 32px;
  text-align: center;
  padding-top: 3px;
}
/*
#r-n-header-content h3 {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;   
  color: #91e5b6;
}*/
/*
#r-n-sc-site {
  width: 100%;
  height: 100px;
  border-top: 3px solid #ffffff;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}*/

#r-n-sc-site a {  
  font-family: "Avenir LT W02 85 Heavy",verdana,sans-serif; 
  font-size: 16px;
  margin: 10px;
  color: #91e5b6;
}

#r-n-sc-site a:hover {
  text-decoration: none;
  color: #ffffff; 
}

/***************
Right Nav
****************/

#right-nav {
  position: absolute;
  width: 0px;
  height: 100%;
  z-index: 2;
  right: 0px;
  top: 0px;
}

#r-n-header {
  position: relative;
  top: 0px;
  left: -300px;
  width: 300px;
  height: 100px;
  z-index: 3;
}

#r-n-header-content {
  width: 100%;
  height: 100px;
  background-color:#2E2E2D;
  background-color:rgba(2,2,0,0.5);
}

#r-n-subcontainer { 
  left: -300px;
  position: absolute;
  width: 300px;
  background-color:#4C4C4B;
  background-color:rgba(2,2,0,0.3);
}

/*Next/Previous Tabs info*/
#r-n-navigate {
  width: 100%;
  height: 55px;
}

#previous-nav {
  width: 50%;
  float: left;
  border-right: 3px solid #ffffff;
}
#next-nav {
  width: 49%;
  float: left;
}

.nav-buttons {
  height: 100%;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff !important; 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-buttons h4 {
  text-align: center;
  padding-top: 6px;
}

.nav-buttons:hover {
  background-color:#2E2E2D;
  background-color:rgba(2,2,0,0.5);
  cursor: pointer;
}

.nav-buttons.gray, .nav-buttons .gray:hover {
  background-color:#4C4C4B;
  background-color:rgba(2,2,0,0.0);
  cursor: default;
  /*background-color:rgba(2,2,0,0.5) !important;*/
}

p.info {
  margin-top: 8px !important;
}

p.numbers {
  margin-bottom: 5px !important;
  text-align: right;

}

@media (max-width: 960px) {
 
}

@media (max-width: 770px) {

  #image1_container {
    left: 0px;
  }

  #r-n-header-content h1 {
    font-size: 18px;
    line-height: 22px;
  }
  #r-n-header-content, #r-n-header {
    height: 50px;
  } 

  #r-n-navigate {
    height: 35px;
  }

  #master_container h4 {padding-top: 8px; font-size: 15px;}

}

@media (max-width: 570px) {
  #master_container {
    height: 460px !important;
  }
  #image1_container {
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    height: auto;
    left: 10px;
    top: -15px;
  }

  #blades_image {
    top: 11%;
    height: auto;
  }

  #rotor_image, #gears_image { height: auto;}

  #anem_image {
    top: 58.5%;
    height: auto;
  }

  #r-n-header, #r-n-header-content {
    width: 100%;
    left: 0px !important;
    height: 26px;
  }
  #right-nav {
    width: 100%;
    height: 0px;
  }
  #r-n-subcontainer {
    width: 100%;
    left: 0px;
    height: 0px;
  }
  #r-n-navigate {
    height: 25px;
  }
  #master_container h4 {
    padding-top: 3px;
    margin-bottom: -8px;
  }
  #r-n-sc-info2 {
    padding-top: 5px;
  }
}

@media (max-width: 490px) {

  #image1_container {
    top: 60px;
  }

}

@media (max-width: 440px) {
  #image1_container {
    top: 90px;
  }

}

@media (max-width: 380px) {
  #image1_container {
    top: 50px;
  }
}

@media (max-width: 320px) {

  #master_container {
    height: 400px !important;
  }
  #image1_container {
    top: 117px;
  }
  #r-n-header-content h1 {
    font-size: 14px;
  }
  #previous-nav {
    border-right: none;
  }
  #next-nav {
    width: 50%;
  }
}
.cloud {
  height: auto;
  position: absolute;
  left: -100%;
  z-index: -1;
}

.cloud img {width: 100%; display: block !important; opacity: 1 !important;}

#cloud1 {
  top: 10%; 
  width: 200px; 
  height: 113px;
}

#cloud2 {
  top: 20%;
  width: 200px;
  height: 117px;    
}

#cloud3 {
  top: 15%;
  width: 300px;   
  height: 183px;
}

#cloud4 {
  top: 3%;
  width: 100px;
  height: 61px;
}

#cloud5 {
  top: 9%;
  width: 250px;
  height: 163px;
}
#cloud6 {
  top: 19%;
  width: 100px;
  height: 62px;
}

@media (max-width: 440px) {
.cloud { height: auto !important;}

#cloud1 {
  top: 10%; 
  width: 100px; 
}

#cloud2 {
  top: 20%;
  width: 100px;
}

#cloud3 {
  top: 15%;
  width: 150px;   
}

#cloud4 {
  top: 3%;
  width: 50px;
}

#cloud5 {
  top: 9%;
  width: 175px;
}
#cloud6 {
  top: 19%;
  width: 50px;
}

}